<!doctype html>
<html lang="en">

<head>

    <!-- Primary Meta Tags -->
    <meta charset="utf-8">
    <title>Password Reset - [?- data.WebSite.name ?]</title>
    <meta name="title" content="Password Reset - [?- data.WebSite.name ?]" />
    <meta name="description" content="[?- data.WebSite.descripton ?]" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="[?- data.express.url ?]" />
    <meta property="og:title" content="Password Reset - [?- data.WebSite.name ?]" />
    <meta property="og:description" content="[?- data.WebSite.descripton ?]" />
    <meta property="og:image" content="[?- data.WebSite.image ?]" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="[?- data.express.url ?]" />
    <meta property="twitter:title" content="Password Reset - [?- data.WebSite.name ?]" />
    <meta property="twitter:description" content="[?- data.WebSite.descripton ?]" />
    <meta property="twitter:image" content="[?- data.WebSite.image ?]" />

    <!-- Style -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Snackbar/Style.Css">
    <link rel="stylesheet" href="../Password/reset/Css/Style.Css">

    <!-- Meta Tags Generated with [?- data.express.url ?] -->

</head>

<body>

    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">

                                    <div class="card-front" type="reset">
                                            <div class="center-wrap">
                                                <div class="section text-center">
                                                    <h4 class="mb-3 pb-3">Enter The New Password 
                                                        <p>For E-mail ( [?- email ?] )</p>
                                                    </h4>
                                                    <div class="form-group mt-2">
                                                        <input type="password" class="form-style" placeholder="Password"
                                                        javascript="password">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                    </div>
                                                    <button class="btn mt-4" datatype="reset"
                                                        id="reset">Enter</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let email = '[?- email ?]'
        let token = '[?- token ?]'
    </script>

    <script src="/Snackbar/index.js"></script>
    <script src="../Password/reset/JavaScript/index.js"></script>
</body>

</html>